#general {
    width: 992px;
    height: 100%;
    font-family: Roboto;
    font-size: 12px;
    padding:5px;
}

.p1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.p2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.p3 {
    margin: 0;
}

.black_border {
    border: 0.5px solid #ececec;
}

#window_size {
    width: 82.5%;
    height: 7%;
    border-radius: 5px;
    background-color: #f9f0c5;
    padding: 10px;
    margin-bottom: 20px;
}

#window_size_text::before {
    content: "Large";
}

#screen {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

#bigger_range {
    width: 220px;
}

#buttons_article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sound_button{
    width:30px;
}

#small_size { 
    display: flex;
    flex-direction: row;
    gap:70px;
}

.bigger {
    width: 45px;
}

#research {
    display: flex;
    align-items: flex-start;
}

#middle_screen {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

ul {
    list-style: none;
    padding: 0px;
    padding-left: 10px;
}

li {
    border: 0.5px solid #ececec;
    border-bottom: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 5px 30px 5px 10px;
}

a {
    text-decoration: none;
}

#music_space {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 560px;
}

.music {
    width: 120px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border: 0.5px solid #ececec;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.picture {
    width: 120px;
    height: 120px;
}

#music1 {
    background-image: url('pictures/1.jpg');
    background-size: cover;
}

#music2 {
    background-image: url('pictures/2.jpg');
    background-size: cover;
}

#music3 {
    background-image: url('pictures/3.jpg');
    background-size: cover;
}

#music4 {
    background-image: url('pictures/4.jpg');
    background-size: cover;
}

#music5 {
    background-image: url('pictures/5.jpg');
    background-size: cover;
}

#music6 {
    background-image: url('pictures/6.jpg');
    background-size: cover;
}

#music7 {
    background-image: url('pictures/7.jpg');
    background-size: cover;
}


footer{
    padding-top: 20px;
}

.highlighted {
    border: 0.5px solid #7F7676;
    box-shadow: 0 2px 2px #7F7676;
}


/* *** MEDIUM SIZE *** */

@media only screen and (max-width: 768px) {
    #general {
        width: 768px;
    }

    #window_size {
        background-color: #d4ebce;
    }

    #window_size_text::before {
        content: '';
        content: "Medium";
    }

    header {
        gap: 20px;
    }

    #bigger_range {
        width: 180px;
    }

    #smaller_range {
        width: 110px;
    }

    #small_size { 
        gap:45px;
    }

    .bigger {
        width: 35px;
    }

    #search_input {
        width: 100px;
    }

    #middle_screen {
        gap: 65px;
    }

    .music {
        width: 130px;
    }

    .picture {
        width: 130px;
        height: 130px;
    }
}


/* *** SMALL SIZE *** */
@media only screen and (max-width: 600px) {
    #general {
        width: 600px;
    }

    #window_size {
        background-color: #c9e5f3;
        width: 83.7%;
    }

    #window_size_text::before {
        content: '';
        content: "Small";
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #small_size {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        gap:10px;
    }

    #bigger_range {
        width: 260px;
    }

    #smaller_range {
        width: 300px;
    }

    .bigger {
        width: 100px;
    }

    .sound_button{
        width: 70px;
    }

    #sound_combo{
        display:flex;
        justify-content: space-between;
    }

    #search_input {
        width: 140px;
    }

    #middle_screen {
        gap: 40px;
    }

    .music {
        width: 150px;
    }

    .picture {
        width: 150px;
        height: 150px;
    }
}


/* *** XSMALL SIZE *** */
@media only screen and (max-width: 450px) {
    #general {
        width: 450px;
    }

    #window_size {
        background-color: #ecd2d1;
        width: 84.2%;
    }

    #window_size_text::before {
        content: '';
        content: "Extra Small";
    }

    #small_size {
        display: flex;
        flex-direction: column;
        gap:20px;
        padding-top: 20px;
    }

    #bigger_range {
        width: 340px;

    }

    #smaller_range {
        width: 270px;
    }

    .bigger {
        width: 90px;
    }

    .sound_button{
        width: 60px;
    }

    #sound_combo{
        display:flex;
        justify-content: space-between;
    }

    #search_input {
        width: 400px;
    }

    #middle_screen {
        gap: 40px;
        display: flex;
        flex-direction:column;
    }

    #middle_screen {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    .music {
        width: 160px;
    }

    .picture {
        width: 160px;
        height: 160px;
    }
    
    #music_space {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 400px;
        padding-left: 10px;
    }

    ul {
        padding-right:10px;
    }
}